.nav {
  background-color: #fff;
  position: relative;
  display: flex;
  .nav-item {
    background-color: green;
    text-decoration: none;
    width: 80px;
    height: 32px;
  }
  .slider-item {
    background-color: #f97f51;
    position: absolute;
    width: 80px;
    height: 32px;
    right: 0;
  }
}
